<div class="container">
    <div class="row">
        <div class="Absolute-Center is-Responsive">

            <div class="col-md-12">
                <div id="logo-container" class="col-md-6">
                    <h1>
                        {{title}}
                    </h1>
                </div>
                <div class="col-md-6">
                    <nav *ngIf="showNav" class="navbar navbar-default" style="margin-top:15px;">
                        <div class="col-md-12">
                            <ul class="nav navbar-nav ">
                                <li *ngFor="let link of navigation">
                                    <a [routerLink]="link.url" routerLinkActive="active">{{link.name}}</a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li style="padding:5px">
                                    <button (click)="logout()" class="btn btn-primary">logout</button>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</div>